<!DOCTYPE html>
<html>
<head>
    <title>Carriers</title>
</head>
<body>
  <form action="/create_carrier">
    <input name="company" type="text"/>
    <input name="contact_person" type="text"/>
    <input name="email" type="email"/>
    <input name="phone_number" type="text"/>
    <input name="notes" type="text"/>
  </form>
</body>
</html>
